{
    "plugins": [
        [
            "module:react-native-dotenv"
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "module:react-native-dotenv",
                    {
                        "path": ".env.development"
                    }
                ]
            ]
        }
    }
}